
body  {
position: relative;
}
#section1 {padding-top:50px;height:710px;color: #fff; background-color: #e6ecff}
#section2 {padding-top:50px;height:620px;color: #fff; background-color: #e6ecff}
#section3 {padding-top:50px;height:1300px;color: #fff; background-color: #e6ecff}
#section4 {padding-top:50px;height:700px;color: #fff; background-color: #e6ecff}

.navbar-default .navbar-nav a {
    color: #777;
    padding: 25px;
    margin-right: 80px;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    font-size: 40px;
    margin-top: 8px;
    color: #4d004d;
}

#myNavbar {
  padding: 3px;
  background-color: #e0ebeb;
}

.navbar-header {
  margin-right: 0;
  margin-left: 0;
  padding-left: 72px;
}

#section1 {
  color: white;
  background-image: url("blueroad.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(50%);*/
  filter: grayscale(50%);*/
}

#portrait {
  margin-left: 620px;
  margin-top: 90px;
  opacity: 0.6;
}


#section2 {
  color: #4d004d;
}

#section3 {
  color: #4d004d;
}

p {
  padding-right: 9px;
}

a {
  color: #4d004d;
}

a:active {
  color: #e6ecff ;
}

a:hover {
  color: #4d004d;
}


#section4 {
  text-align: center;
  color: #4d004d;
}

#frontpage {
  color: #4d004d;
  margin-right: 524px;
  font-family: 'Aldrich', sans-serif;
}

#frontpage:hover {
  text-decoration: underline;
}

#aboutlink {
  color: #4d004d;
  font-family: 'Aldrich', sans-serif;
}

#aboutlink:hover {
  text-decoration: underline;
}

#portlink {
  color: #4d004d;
  font-family: 'Aldrich', sans-serif;
}

#portlink:hover {
  text-decoration: underline;
}

#contactlink {
  color: #4d004d;
  font-family: 'Aldrich', sans-serif;
}

#contactlink:hover {
  text-decoration: underline;
}

#portheading {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  padding-top: 30px;
  text-decoration: underline;
}

.aboutme {
  text-align: center;
  font-size: 18px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 7px;
}

.work {
  padding-top: 1px;
  padding-left: 20px;
}


img {
  margin-left: 70px;
}

a {
  font-family: 'Aldrich', sans-serif;
}

#contacthead {
  font-family: 'Aldrich', sans-serif;
  padding-top: 85px;
  text-decoration: underline;
}

#abouthead {
  font-family: 'Aldrich', sans-serif;
  padding-top: 24px;
  padding-bottom: 9px;
  text-decoration: underline;
}

#aboutcontent {
  font-size: 16px;
  padding-bottom: 1px;
}

#aboutcontenttwo {
  font-size: 16px;
}

.test {
  font-family: 'Raleway', sans-serif;
}

.junior {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   font-size: 60px;
   text-align: center;
   padding-top: 75px;
   font-family: 'Aldrich', sans-serif;
   margin-right: 36px;
   text-shadow: 10px -5px 5px #000000;

   }

.imageClub {
  padding-left: 33px;
  padding-top: 27px;
}

#angular {
  transition: all 0.3 ease-in-out 0s;
}

#angular:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#js {
  transition: all 0.3 ease-in-out 0s;
}

#js:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#boot {
  transition: all 0.3 ease-in-out 0s;
}

#boot:hover {
  -webkit-filter: brightness(50%);
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s; 
}

#css {
  transition: all 0.3 ease-in-out 0s;
}

#css:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s; 
}

#html {
  transition: all 0.3 ease-in-out 0s;
}

#html:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s; 
}

#rails {
  transition: all 0.3 ease-in-out 0s;
}

#rails:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s; 
}

#query {
  transition: all 0.3 ease-in-out 0s;
}

#query:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#git {
  transition: all 0.3 ease-in-out 0s;
}

#git:hover {
  -webkit-filter: brightness(50%); 
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#firstjob {
  text-align: center;
  font-size: 16px;
}

#secondjob {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

#thirdjob {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

#firstpara {
  padding-left: 50px;
  padding-right: 50px;
}

#secondpara {
  padding-left: 50px;
  padding-right: 50px;
}

#thirdpara {
  padding-left: 50px;
  padding-right: 50px;
}

#aboutpage {
  padding-left: 50px;
}

#question {
  font-size: 20px;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}

#thanks {
  font-size: 18px;
  padding-top: 8px;
  font-family: 'Raleway', sans-serif;
}

#past {
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
  margin-bottom: 23px;
  font-family: 'Aldrich', sans-serif;
}

.subhead {
  text-decoration: underline;
}

#email {
  font-size: 18px;

}

.contactbuttons {
  padding-top: 18px;
  margin-right: 90px;
}

#copy {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
}

#github {
  transition: all 0.3 ease-in-out 0s;
}

#github:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#linkedin {
  transition: all 0.3 ease-in-out 0s;
}

#linkedin:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#twitter {
  transition: all 0.3 ease-in-out 0s;
}

#twitter:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

hr {
  border: 1px solid #75a3a3;
/*  margin-top: 33px;
  margin-bottom: 5px;*/

}

#code {
  text-decoration: underline;
  font-family: 'Aldrich', sans-serif;
}

#code:hover {
  color: #4d004d;
}












